.link {
  border-radius: 5px;
  padding: 3px;
  background-color: #81ecec;
}

.img-avatar {
  position: relative;
  top: -120px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border-width: 3.4px;
  border-style: solid;
  width: 300px;
}

body {
  font-size: 22px;
  color: #212529;
  font-family: 'Alegreya Sans', sans-serif;
}

.two-col-right-img {
  min-width: 50%;
  max-width: 100%;
}

@media only screen and (min-width:768px) {
  .post-preview > a > .post-title-crafting {
    color: #3498db;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 36px;
  }
}

